# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
weathercsv_df = pd.read_csv('../WeatherPy/output_data/weather_data.csv', index_col=0)

weathercsv_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Ixtapa,MX,20.7000,-105.2000,59.00,94,40,3.44,1612795091
1,Bokovskaya,RU,49.2290,41.8306,18.97,82,100,7.61,1612795091
2,Severo-Kuril'sk,RU,50.6789,156.1250,18.68,93,87,6.20,1612795091
3,Codrington,AU,-38.2667,141.9667,54.36,87,23,9.66,1612795091
4,Thompson,CA,55.7435,-97.8558,-25.60,68,90,14.97,1612795091
...,...,...,...,...,...,...,...,...,...
530,Ibrā’,OM,22.6906,58.5334,70.30,41,100,8.23,1612795091
531,Beisfjord,NO,68.3751,17.5988,30.20,86,40,3.44,1612795091
532,Severodvinsk,RU,64.5635,39.8302,-13.00,77,20,2.24,1612795091
533,Turukhansk,RU,65.8167,87.9833,4.82,94,100,7.94,1612795091
534,Port Keats,AU,-14.2500,129.5500,79.30,91,100,17.56,1612795091

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)

locations = weathercsv_df[["Lat", "Lng"]].astype(float)
humidity = weathercsv_df['Humidity']
fig = gmaps.figure(zoom_level=2, center=(15, 0 ), layout={'width': '1100px', 'height': '600px'} )
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='600px', width='1100px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [42]:
# weathercsv_df.dtypes

hotel_df = weathercsv_df.loc[weathercsv_df['Max Temp'] >= 75]
hotel_df = hotel_df.loc[hotel_df['Max Temp'] <= 100]
hotel_df = hotel_df.loc[hotel_df['Cloudiness'] <= 25]
hotel_df = hotel_df.loc[hotel_df['Wind Speed'] < 10]

hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
6,Bredasdorp,ZA,-34.5322,20.0403,82.40,44,0,9.22,1612795091
16,Tessalit,ML,20.1986,1.0114,83.53,13,0,6.24,1612795091
38,Hermanus,ZA,-34.4187,19.2345,78.01,67,0,7.00,1612795091
41,Bubaque,GW,11.2833,-15.8333,78.57,45,5,7.70,1612795091
58,Padang,ID,-0.9492,100.3543,78.80,89,20,2.30,1612795091
108,Cap Malheureux,MU,-19.9842,57.6142,82.99,73,0,5.99,1612795091
114,Kavaratti,IN,10.5669,72.6420,82.80,58,10,3.02,1612795091
126,Cidreira,BR,-30.1811,-50.2056,76.28,61,0,8.52,1612795091
166,Taoudenni,ML,22.6783,-3.9836,78.46,16,0,5.91,1612795091
193,Koungou,YT,-12.7336,45.2042,80.60,78,0,9.22,1612795091
209,Oussouye,SN,12.4850,-16.5469,95.00,24,0,6.91,1612795091
219,Salina Cruz,MX,16.1667,-95.2000,79.90,53,0,5.66,1612795091
220,San Cristobal,VE,7.7669,-72.2250,80.60,65,20,2.30,1612795091
279,Salinópolis,BR,-0.6136,-47.3561,84.45,70,6,9.95,1612795091
293,Poum,NC,-20.2333,164.0167,80.60,68,8,4.43,1612795091
350,Ambon City,ID,-3.6954,128.1814,79.00,88,20,6.91,1612795091
358,West Bay,KY,19.3667,-81.4167,82.00,73,20,9.22,1612795091
363,Jacareacanga,BR,-6.2222,-57.7528,82.40,78,0,2.30,1612795091
372,Vao,NC,-22.6667,167.4833,77.36,85,0,5.84,1612795091
376,San Nicolas,PH,18.1725,120.5953,77.59,72,6,8.93,1612795091
389,Sola,VU,-13.8833,167.5500,81.82,66,0,5.97,1612795091
427,Jardim,BR,-21.4803,-56.1381,89.10,36,0,3.36,1612795091
446,Santa Maria,BR,-29.6842,-53.8069,77.00,69,0,3.44,1612795091
509,Isangel,VU,-19.5500,169.2667,77.20,76,3,4.18,1612795091
525,Champerico,GT,14.3000,-91.9167,75.20,78,0,1.79,1612795091

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
hotel_df['Hotel Name'] = ""

hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
6,Bredasdorp,ZA,-34.5322,20.0403,82.40,44,0,9.22,1612795091,
16,Tessalit,ML,20.1986,1.0114,83.53,13,0,6.24,1612795091,
38,Hermanus,ZA,-34.4187,19.2345,78.01,67,0,7.00,1612795091,
41,Bubaque,GW,11.2833,-15.8333,78.57,45,5,7.70,1612795091,
58,Padang,ID,-0.9492,100.3543,78.80,89,20,2.30,1612795091,
108,Cap Malheureux,MU,-19.9842,57.6142,82.99,73,0,5.99,1612795091,
114,Kavaratti,IN,10.5669,72.6420,82.80,58,10,3.02,1612795091,
126,Cidreira,BR,-30.1811,-50.2056,76.28,61,0,8.52,1612795091,
166,Taoudenni,ML,22.6783,-3.9836,78.46,16,0,5.91,1612795091,
193,Koungou,YT,-12.7336,45.2042,80.60,78,0,9.22,1612795091,
209,Oussouye,SN,12.4850,-16.5469,95.00,24,0,6.91,1612795091,
219,Salina Cruz,MX,16.1667,-95.2000,79.90,53,0,5.66,1612795091,
220,San Cristobal,VE,7.7669,-72.2250,80.60,65,20,2.30,1612795091,
279,Salinópolis,BR,-0.6136,-47.3561,84.45,70,6,9.95,1612795091,
293,Poum,NC,-20.2333,164.0167,80.60,68,8,4.43,1612795091,
350,Ambon City,ID,-3.6954,128.1814,79.00,88,20,6.91,1612795091,
358,West Bay,KY,19.3667,-81.4167,82.00,73,20,9.22,1612795091,
363,Jacareacanga,BR,-6.2222,-57.7528,82.40,78,0,2.30,1612795091,
372,Vao,NC,-22.6667,167.4833,77.36,85,0,5.84,1612795091,
376,San Nicolas,PH,18.1725,120.5953,77.59,72,6,8.93,1612795091,
389,Sola,VU,-13.8833,167.5500,81.82,66,0,5.97,1612795091,
427,Jardim,BR,-21.4803,-56.1381,89.10,36,0,3.36,1612795091,
446,Santa Maria,BR,-29.6842,-53.8069,77.00,69,0,3.44,1612795091,
509,Isangel,VU,-19.5500,169.2667,77.20,76,3,4.18,1612795091,
525,Champerico,GT,14.3000,-91.9167,75.20,78,0,1.79,1612795091,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure